<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923363915608-cj829aa6tmd1k3n2j6kjmveekml0im9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923363915608-cj829aa6tmd1k3n2j6kjmveekml0im9t</string>
	<key>API_KEY</key>
	<string>AIzaSyCGZJZ9xPbhHEi3nA9vt1ldH7oB1BuYgdI</string>
	<key>GCM_SENDER_ID</key>
	<string>923363915608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kv.health.manager.app</string>
	<key>PROJECT_ID</key>
	<string>health-manager-79877</string>
	<key>STORAGE_BUCKET</key>
	<string>health-manager-79877.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923363915608:ios:e430783a27ed02dae0972d</string>
</dict>
</plist>